@black: #010000;
@white: #ffffff;
@bg-light: #63d1bb;
@bg-dark: #56c3b2;

.intro {
  h1 {
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    color: @black;
    }
}

.intro__item {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

  a {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    color: @white;
    text-decoration: none;
  }
  &--light {
    background-color: @bg-light;
  }
  &--dark {
    background-color: @bg-dark;
  }
}
