@black: #000000;
@charcoal: #444444;

.review {
  h2 {
    color: @black;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }
  p {
    color: @charcoal;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
  }
}

.review__author {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.review__author-nickname {
  color: @charcoal;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
}

.review__btn {
  a {
    color: @charcoal;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
  }
}
