.catalog__title {
  background-color: @bg-grey;

  h1 {
    color: @black;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
  }
}

.catalog__item {
  h2 {
    color: @black;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
  }
}

.catalog__item-size {
  color: @black;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
}

.catalog__item-price {
  color: @black;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
