.contacts__container {
  .container();
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  font-size: 15px;
  font-weight: normal;
  color: @charcoal;
  line-height: 30px;
}

.contacts__email {
  @media @tablet-widths {
    width: 50%;
  }
}

.contacts__address {
  @media @tablet-widths {
  width: 50%;
  }
}

.contacts__map {
  @media @tablet-widths {
    width: 100%;
    text-align: center;
  }
}


.contacts__btn {
  a {
    font-size: 18px;
    color: @charcoal;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
  }
}
@media @tablet-widths {
  .contacts__btn {
    width: 100%;
    text-align: center;
  }
}
