.footer__container {
  .container();
}

.footer__social {
display: flex;
justify-content: space-around;
}

.footer__developer {
  display: flex;
  justify-content: space-around;
  span {
    font-size: 19px;
    color: @black;
    font-weight: bold;
    line-height: 18px;
  }
}

@media @tablet-widths {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
  .footer__social {
  display: flex;
  width: 30%;

  }
  .footer__developer {
    display: flex;
    width: 30%;
  }
}
