// @black: #000000;
// @white: #ffffff;
// @charcoal: #444444;
// @blue: #63d1bb;

.promo-item {
  h2 {
    color: @black;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }
  span {
    color: @blue;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
  }
  p {
    color: @charcoal;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
  }
  table {
    color: @charcoal;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}

.promo-item__price {
    color: @charcoal;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
  }

.promo-item__btn {
  a {
    color: @charcoal;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
  }
}
