.review__container {
  .container();
  display: flex;
  flex-wrap: wrap;
}

.review__slider-wrapper {
  position: relative;
}

.review {
  h2 {
    color: @black;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    @media @tablet-widths {
      order: -2;
      width: 70%;
    }
  }
}

.review__text {
  color: @charcoal;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;
}

.review__author {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.review__author-nickname {
  color: @charcoal;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
}

.review__btn {
  a {
    color: @charcoal;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
  }
}

@media @tablet-widths {
  .review__btn {
    order: -1;
    width: 30%;
    }
}

.review__author--wrapper {
  @media @tablet-widths {
  display: flex;
  flex-direction: column;
  width: 50%;
  }
}

.review__btn--wrapper {
  @media @tablet-widths {
  position: absolute;
  left: 75%;
  bottom: 15%;
  }
}
